h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
}
p {
  color: green;
}
body {
  background-color:lightgreen;
}
ul {
  font-style: italic;
  font: bold;
  color: red;
  text-align: center;
  font-size: larger;
}
img {
  position: absolute;
  bottom: 0;
  right: 5;
  left: 10;
  border: 3px solid #73AD21;
}