h1, h2, h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: larger;
}
p {
  color: blue;
}
body {
  background-color:lightsalmon;
}
ul {
  font-style: italic;
  font: bold;
  color: aqua;
  text-align: center;
  font-size: larger;
}
img {
  position: absolute;
  bottom: 0;
  right: 5;
  left: 10;
  border: 3px solid #73AD21;
}